@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face{
  font-family:"Inter-Regular";
  src: url("./Inter-4.0/web/Inter-Regular.woff2")
}
.loader-wrapper{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(54, 54, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease-in ; 
}
/* nav bar*/
.flex {
    display: flex;
    gap: var(--gap, 30px);
}
.logo{
    margin: 0.5rem;
    width: 30px;
    height: 30px;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
    
}
.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0px;
    background: hsla(0, 0%, 100%, 0.9);
    font-family: "inter-black";
}
.primary-navigation span{
  font-size: 20px;
  font-family: "inter-black";
  color: #000;
}
.contact-info{
  font-size: 16px;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
  text-decoration: none;
  
}
.contact-info a{
  color: #000;
  text-decoration: none;
}
.misc-text{
  font-size: 16px;
  font-family: "Inter-Regular";
  padding-bottom: 10px;
  color: #000
}
.bottom-banner-background{
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-block: 16px;
  padding-inline: clamp(3rem,10vw, 10rem);
  bottom: clamp(0%, 0%, 50px);
  background: hsla(0, 0%, 100%, 0.5);
  margin-bottom: 1rem;
}
@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsla(0, 0%, 100%, 0.3);
        backdrop-filter: blur(0.4rem);
        
    }
    .bottom-banner-background{
      background: hsla(0, 0%, 100%, 0.3);
      backdrop-filter: blur(0.4rem);
    }
}
.primary-navigation a{
    font-family: "Inter-Regular";
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.primary-navigation a > [aria-hidden="true"]  {
    margin-inline-end: 12px;
    font-family: "Inter-Regular";
}
.mobile-nav-toggle {
    display: none;
}
@media (max-width: 560px){
    /*holds page together*/
    .primary-navigation{

        --gap: 40px;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0%;
        text-align: center;
        flex-direction: column;
        padding: min(300px, 160px) 32px;

        transform: translateX(0%);
        transition: transform 250ms ease-out;
    }


    .primary-navigation[data-visible="false"] {
        transform: translateX(100%);
    }

    .mobile-nav-toggle{
        position: fixed;
        background: transparent;
        border: 0;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22px;
        width: 40px;
        top: 35px;
        right: 35px;
    }
      
      .mobile-nav-toggle .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        transition: all 100ms ease-in-out;
        border-radius: 20px;
      }
      .mobile-nav-toggle.hover {
        cursor: pointer;
      }
      
      .mobile-nav-toggle.active .bar:nth-child(1) {
        transition: all 100ms ease-in-out;
        transform: rotate(45deg);
        transform-origin: top left;
        border-radius: 20px;
        background-color: #000;
        width: 27.5px;
      }
      
      .mobile-nav-toggle.active .bar:nth-child(2) {
        transition: all 100ms ease-in-out;
        transform: rotate(0deg);
        transform-origin: center;
        border-radius: 20px;
         width: 0;
      }
      
      .mobile-nav-toggle.active .bar:nth-child(3) {
         transition: all 100ms ease-in-out;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        border-radius: 20px;
        background-color: #000;
        width: 27.5px;
      }  
}
@media (min-width: 560px) and (max-width: 55em){
    .primary-navigation a > [aria-hidden]{
        display: none;
        font-family: "Inter-Regular";
    }  
}
@media (min-width: 560px){
    .primary-navigation{
        padding-block: 23px;
        padding-inline: clamp(3rem,10vw, 10rem);
        font-family: "Inter-Regular";
    }
}
/* background area*/
body {
    background-color:#fff;
    overflow-x: hidden;
    margin: 0;
 }
/*text intro*/
.TI {
    font-family: "Inter-Regular";
    width: clamp(60%, 400px, 1280px);
    padding: 32px;
    text-align: center;
    transform: scale(0.94);
    animation: scale 10s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  span.fade {
      display: inline-block;
      opacity: 0;
      filter: blur(4px);
    }
  span.fade:nth-child(1) {
    animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(2) {
    animation: fade-in 1s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(3) {
    animation: fade-in 1s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(4) {
    animation: fade-in 1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(5) {
    animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(6) {
    animation: fade-in 1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(7) {
    animation: fade-in 1s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(8) {
    animation: fade-in 1s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(9) {
    animation: fade-in 1s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(10) {
    animation: fade-in 1s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(11) {
    animation: fade-in 1s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(12) {
    animation: fade-in 1s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(13) {
    animation: fade-in 1s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(14) {
    animation: fade-in 1s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(15) {
    animation: fade-in 1s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(16) {
    animation: fade-in 1s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(17) {
    animation: fade-in 1s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span.fade:nth-child(18) {
    animation: fade-in 1s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
.mission{
  font-family: "Inter-Regular";
  font-size: 22px;
}
 /* content area*/
 * {
    box-sizing: border-box;
    margin: 0;
  } 
  h1 {
    margin: 1rem 0;
  }
  h2 {
    color: rgba(255, 255, 255, 0.444);
    opacity: 0;
    font-family: "Inter-Regular";
    font-size: 5rem;
    animation: fadeIn 2s ease forwards;
  }
  main {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    transform: scale(0, 0);
    animation: animate .9s ease-in forwards 2.5s;
  }
  body:not(.home) main{
    animation: animate 0s ease-in forwards;
    animation-duration: 0s; /* Adjust the animation duration as needed */
  }
  /* Page-specific styles */
  body.projects main {
   
    height: 550vh;
    margin: 0;
    font-family: "Inter-Regular";
    font-size: 16px;
    background-color: #000 /* Change to your desired background color */
  }
  body.resume main {
    position: absolute;
    top: 0;
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
  }
  body.contact main {
    background-color: #000000; /* Change to your desired background color */
    height: 130vh;
  }
  body.index main{
    overflow-x: hidden;
  }
  @media (max-height: 700px) and (orientation: landscape){
    main {
      height: 200vh;
    }
    body.contact main{
      height: 300vh;
    }
  }
  @media (max-width:560px) and (orientation: portrait){
    main{
      height: 150vh;
    }
    body.contact main{
      height: 150vh;
    }
  }
  .content {
    padding: 10px;
    text-align: center;
  }
  .image{
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 416px;
    padding: 0px;
  }
  .contactcontainer{
    font-family:"Inter-Regular";
    color: #fff;
    width: 80%;
    margin: 50px, auto;
  }
  .contact-box{
    display: flex;
    background: #fff;
  }
  .contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
  }
  .contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #585858;
    color: #fff;
  }
  .contactcontainer h1{
    margin-bottom: 40px;
  }
  .contactcontainer p{
    margin-bottom: 40px;
  }
  .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .input-row .input-group{
    flex-basis: 45%;
  }
  input{
    width:100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }
  textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }
  .contactcontainer label{
    margin-bottom: 6px;
    display: block;
    color: #000;
  }
  .contactcontainer button{
    background: #000;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 5px 15px 0px rgba(67, 67, 67, 0.3);
  }
  .contact-left h3{
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
  }
  .contactcontainer tr td:first-child{
    padding-right: 20px;
  }
  .contactcontainer tr td{
    padding-top: 40px;
    text-decoration: none;
    color: inherit;
    cursor: default;
  }
  .contactcontainer textarea{
    font-family: 'Inter-Regular';
  }
  @media (max-width: 560px){
    .contactcontainer{
      
      flex-direction: column;
    }
    .contact-left,.contact-right{
      flex-direction: column;
      flex-basis: 100%;
      padding: 20px;
    }
    .input-row .input-group{
      flex-direction: column;
      flex-basis: 100%;
    }
    .contact-box{
      display: block;
    }
  }
  @keyframes animate {
    0% {
        transform: scale(.9, 0.00005);
      }
      50% {
        transform: scale(1, 0.0005);
      }
      100% {
        transform: scale(1, 1);
      } 
  }
  .intro {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }