@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

@font-face{
  font-family:"Inter-Black";
  src: url("./Inter-4.0/web/Inter-Bold.woff2")
}
@font-face{
  font-family:"Inter-Regular";
  src: url("./Inter-4.0/web/Inter-Regular.woff2")
}
.mastercontainer{
  margin-top: 9rem;
  width: 90%;
  display: flex;
}
@media (max-width: 560px){
  .mastercontainer{
    width: 100%;
  }
}
.container2 {
  justify-content: center;
  align-items: center;
}
  .box {
    width: 7em;
    height: 3em;
    position: relative;
    display: flex;
    flex-direction: column;
  }
    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 4em;
    }
      .mainblock{
        width: 100%;
        position: absolute;
        z-index: -2;
        height: 50%;
        display: flex;
        left: 0px;
        background: #000;
      }
      .block {
        width: 40%;
        left: -10px;
        z-index: 1;
        height: inherit;
        background: #000;
        position: absolute;
        animation: mainBlock .6s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }
      .flyinh1 {
        font-family: 'Inter-Black';
        color: #fff;
        font-size: 75px;
        -webkit-animation: mainFadeIn 0.75s ease forwards;
        -o-animation: mainFadeIn 0.75s ease forwards;
        animation: mainFadeIn 0.75s ease forwards;
        animation-delay: 0.1s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
      }
      .box2 {
        width: 7em;
        height: 3em;
        top:3em;
        position: relative;
        display: flex;
        flex-direction: column;
      } 
        .title {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          height: 4em;
        }
          .block2 {
            width: 40%;
            left: -10px;
            height: inherit;
            background: #000;
            z-index: 1;
            position: absolute;
            animation: mainBlock .6s cubic-bezier(.74, .06, .4, .92) forwards;
            display: flex;
          }
          .flyinh12 {
            font-family: 'Inter-Black';
            color: #fff;
            font-size: 75px;
            -webkit-animation: mainFadeIn 0.75s ease forwards;
            -o-animation: mainFadeIn 0.75s ease forwards;
            animation: mainFadeIn 0.75s ease forwards;
            animation-delay: 0.2s;
            opacity: 0;
            display: flex;
            align-items: baseline;
            position: relative;
          }
      .box3 {
        width: 7em;
        height: 3.5em;
        top:6em;
        position: relative;
        display: flex;
        flex-direction: column;
      }
        .title {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          height: 4em;
        }
          .block3 {
            width: 40%;
            left: -10px;
            height: inherit;
            z-index: 1;
            background: #000;
            position: absolute;
            animation: mainBlock .6s cubic-bezier(.74, .06, .4, .92) forwards;
            display: flex;
          }
          .flyinh13 {
            font-family: 'Inter-Black';
            color: #fff;
            font-size: 75px;
            -webkit-animation: mainFadeIn 0.75s ease forwards;
            -o-animation: mainFadeIn 0.75s ease forwards;
            animation: mainFadeIn 0.75s ease forwards;
            animation-delay: 0.3s;
            opacity: 0;
            display: flex;
            align-items: baseline;
            position: relative;
          }
      .box4 {
        width: 7em;
        height: 3em;
        top:9em;
        position: relative;
        display: flex;
        flex-direction: column;
      }
        .title {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          height: 4em;
        }
          .block4 {
            width: 40%;
            left: -10px;
            height: inherit;
            z-index: 1;
            background: #000;
            position: absolute;
            animation: mainBlock .6s cubic-bezier(.74, .06, .4, .92) forwards;
            display: flex;
          }
          .flyinh14 {
            font-family: 'Inter-Black';
            color: #fff;
            font-size: 75px;
            -webkit-animation: mainFadeIn 0.75s ease forwards;
            -o-animation: mainFadeIn 0.75s ease forwards;
            animation: mainFadeIn 0.75s ease forwards;
            animation-delay: 0.4s;
            opacity: 0;
            display: flex;
            align-items: baseline;
            position: relative;
          }
      .box5 {
        width: 7em;
        height: 3em;
        top:12em;
        position: relative;
        display: flex;
        flex-direction: column;
      }
        .title {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          height: 4em;  
        }
          .block5 {
            width: 40%;
            left: -10px;
            height: inherit;
            z-index: 1;
            background: #000;
            position: absolute;
            animation: mainBlock .6s cubic-bezier(.74, .06, .4, .92) forwards;
            display: flex;
          }
          .flyinh15 {
            font-family: 'Inter-Black';
            color: #fff;
            font-size: 75px;
            -webkit-animation: mainFadeIn 0.75s ease forwards;
            -o-animation: mainFadeIn 0.75s ease forwards;
            animation: mainFadeIn 0.75s ease forwards;
            animation-delay: 0.1s;
            opacity: 0;
            display: flex;
            align-items: baseline;
            position: relative;
          }
          .contactcontainer tr td a{
            padding-top: 40px;
            text-decoration: none;
            color: inherit;
            cursor: default;
          }
          .contact-right{
            text-decoration: none;
            cursor: default;
          }
@keyframes mainFadeIn {
  0% {
    opacity: 1;
    left: -3em;
  }
  100% {
    opacity: 1;
    left: 1em;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    right: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 0;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 560px){
  .flyinh1 {
    font-size: 50px;
  }
  .flyinh12 {
    font-size: 50px;
  }
  .flyinh13 {
    font-size: 50px;
  }
  .flyinh14 {
    font-size: 50px;
  }
  .flyinh15 {
    font-size: 50px;
  }
  .contactcontainer tr td{
    padding-top: 20px;
  }
}
@keyframes mainBlock12 {
  0% {
    width: 0%;
    right: 0;
  }
  30% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0%;
    right: 100%;
  }
}
@media (min-width: 900px){
  .mastercontainer{
    left: 1000px;
  }
}



