@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

@font-face{
  font-family:"Inter-Black";
  src: url("./Inter-4.0/web/Inter-Bold.woff2")
}
@font-face{
  font-family:"Inter-Regular";
  src: url("./Inter-4.0/web/Inter-Regular.woff2")
}
@font-face{
  font-family:"Inter-Italic";
  src: url("./Inter-4.0/web/Inter-LightItalic.woff2")
}

* {
  font-family: "Inter-Regular";
}
.Rcontainer{
  position: absolute;
  width: 80%;
  height: 90%;
  padding: 1rem;
}

.Rbanner{
  font-family:"Inter-Black";
  z-index: 100;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 8rem;
  top: 0;
  height: 0rem;
  width: 100%;
  text-align: center;
  background-color: #000;
}
.Rbanner2{
  font-family:"Inter-Black";
  position: relative;
  top: 0;
  height: 0.1rem;
  margin-top:0.1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  background-color: white;
}
.Rheader{
  position: relative;
  bottom: 0%;
  color: #fff;
}

.marginzero{
  margin: 0;
  text-decoration: none;
  color: #fff;
}
.invizmargin{
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.resume_content{
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  color: #fff;
}

@media (max-width:560px) and (orientation: portrait){
  .Rbanner{
    margin-top: 5rem;
    width: 100%;
    left: 0;
  }
  .Rheader{
    top: 65%;
    text-align: center;
  }
}

.italic{
  font-family: "Inter-Italic";
  margin-bottom: 0.5rem;
}
.italic2{
  font-family: "Inter-Italic";
}

.bold{
  font-family:"Inter-Black"
}

.top{
  margin-top: 1rem;
}
.bottom{
  margin-bottom: 1rem;
}

.date_right_align {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date {
  text-align: right !important;
}

.info {
  display: flex;
  justify-content: space-between;
}
.regular{
  font-family: "Inter-Regular";
}



